# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

rood

cache*

*.pem
*.key
*.crt
pem/
*.swp
config.*.json

.DS_Store

example-data/
cluster-data*/
.idea

*heap*

/*.txt